@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Orbitron';
}

.countDown {
  font-family: 'Orbitron';
  font-size: 4rem;
  margin: 1rem;
  background-color: #000;
  color: white;
  padding: 0.5rem;
}

.header-all {
  background: url(../svg/backgroundimg.svg);
  background-size: auto 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 210px;
  position: relative;
}

.header {
  background-image: linear-gradient(270deg, #ffa29c 5.19%, #643cfa 100%);
}

.header {
  color: white;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-weight: bold;
  margin-right: 2rem;
  padding-left: 1rem;
}

p {
  font-family: sans-serif;
  line-height: 1.5rem;
}


a {
  color: white;
  list-style: none;
  display: flex;
  flex-direction: row;
  font-weight: bold;
  padding: 0 0.5rem;
}

.header li {
  padding-right: 0.3rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.header li a {
  line-height: 2rem;
}

.header a:hover {
  color: #000;
}

.header li:last-child {
  background-color: #000;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.header li:last-child a {
  line-height: 1rem;
}

.date-month {
  padding-left: 1rem;
}

.date-month a {
  display: inline-block;
  color: whitesmoke;
  font-size: 2rem;
}

.date-month span {
  color: #00ffff;
  font-size: 3rem;
  padding-right: 2rem;
}

article.artist {
  position: relative;
}

.lineup article.artist {
  width: calc(33.33% - 2rem);
  margin: 0.5rem 1rem;
}

.artist a {
  color: blue;
}

.lineup {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
}

.image-artist {
  padding: 0.5rem;
}

.social-more {
  background-color: #009;
}

.social-container a img {
  background-color: white;
  font-size: 30px;
  width: 2rem;
  border-radius: 50%;
}

.social-more__info {
  color: white;
}

h2 {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  color: white;
  font-size: 1.5rem;
  margin: 0;
  display: inline-block;
  padding: 0.5rem 1rem;
  background-image: linear-gradient(270deg, #ffa29c 5.19%, #643cfa 100%);
}

h3 {
  bottom: 5rem;
  left: 2rem;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  margin: 0.5rem 0;
  padding: 0.5rem;
}

.artist-details-panel button {
  position: absolute;
  top: 0;
  left: 0.5rem;
  border: none;
  background: none;
  font-size: 2rem;
}

.artist-details-panel.open-panel .artist .artist-header {
  position: relative;
}

h3.from {
  background: white;
  color: black;
}

h4.name {
  background: blue;
}

.from-name {
  display: flex;
  position: absolute;
  bottom: 5rem;
  left: 2rem;
}

h4 {
  bottom: 5rem;
  left: 9rem;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  margin: 0.5rem 0;
  padding: 0.5rem;
}

.social-info.column h5 {
  font-size: 2rem;
  color: white;
}

.social-more.column h5 {
  font-size: 2rem;
  color: white;
}

ul {
  padding: 0;
}

footer {
  background-color: #009;
  padding: 2rem;
}

.social-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 300px;
}

.social-info {
  background-color: #009;
}

.socialBox {
  background-color: #009;
}

.artist .image-artist {
  display: flex;
  align-items: flex-end;
  height: 20rem;
  width: 100%
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.social-container a {
  color: beige;
}

.column {
  display: inline-block;
  width: 33%;
}

.artist-details-panel {
  display: none;
}

.artist-details-panel.open-panel {
  display: block;
  position: fixed;
  overflow: scroll;
  background: white;
  height: calc(100vh - 4rem);
  top: 0;
  width: 50rem;
  padding: 2rem;
}

.artist-details-panel.open-panel .image-artist {
  width: 100%;
  height: auto;
}